.errors {
	ul {
		list-style: none;
		padding-left: 0;
		li {
			&:before {
				content: '!';
			    background-color: $button-color;
			    border-radius: 100%;
			    padding: 3px 8px;
			    font-size: 12px;
			    width: 12px;
			    height: 12px;
			    color: #FFF;
			    margin-right: 1rem;
			}
		}
	}
	font-size: 1.4rem;
}
.contact-form {
	.errors {
		li {
			color: #FFF;
		}
	}
}