.template-account {
	h1 {
		margin-bottom: 0;
	}
}

.customer__account-heading {
	display: flex;
	align-items: center;
	width: 100%;
}

.customer__logout {
	margin-bottom: 3rem;
	a {
		font-size: 1.4rem;
	}
}