.template-search {
	form {
		display: flex;
		align-items: center;
		input,
		.button {
			margin: 0;
		}
		input {
			width: 100%;
			border-radius: 4px 0px 0px 4px;
		}
		.button {
			min-width: 0px;
			margin-left: 0px;
			border-radius: 0px 32px 32px 0px;
			svg {
				path {
					fill: #FFF;
				}
			}
		}
	}
}