#shopify-section-contact-form {
	position: relative;
	z-index: 1;
}
.contact__form-section {
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 10rem;
		z-index: 9;
		background-color: #FFF;
	}
	&:before {
		top: -2rem;
		transform: skew(0, -1deg) translateY(-50%);
	}
}
.contact__columns {
	display: flex;
	padding: 12rem 0;
	@media(max-width: $phablet) {
		flex-direction: column;
	}
}
.contact__social {
	width: 35%;
	padding: 5rem;
	padding-top: 0;
	text-align: center;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin: 2.5rem 0;
			svg {
				path {
					transition: all .15s linear;
				}
			}
			&:hover {
				svg {
					path {
						fill: #FFF;;
					}
				}
			}
		}
	}
}
.contact__social-container {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 5rem;
	width: 200px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media(max-width: $tablet) {
		padding: 2rem;
		width: 150px;
	}
	@media(max-width: $phablet) {
		display: none;
		height: 200px;
		transform: rotate(90deg);
		svg {
			transform: rotate(-90deg);
		}
	}
}
.contact__form {
	width: 65%;
	form {
		display: flex;
		flex-direction: column;
	}
	@media(max-width: $tablet) {
		width: 60%;
		margin-left: auto;
	}
	@media(max-width: $phablet) {
		width: 100%;
	}
}
.contact__form-button {
	display: flex;
	align-items: center;
	span {
		color: #FFF;
		padding-left: 1em;
		font-size: 1.25rem;
	}
}
