.hero {
	display: flex;
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: 15rem 5rem;
	@media(max-width: $tablet) {
		padding: 0rem;
		min-height: 100vh;
	}
}
.hero__content {
	h1,p {
		margin: 0 0 1rem 0;
	}
	p {
		width: 650px;
		max-width: 100%;
		font-size: 2rem;
	}
	@media(max-width: $tablet) {
		padding: 0 2rem 8rem 2rem;
	}
	@media(max-width: $phablet) {
		text-align: center;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
		max-width: 100vw;
		h1 {
			font-size: 4rem;
		}
		p {
			font-size: 1.4rem;
		}
	}
}
.hero__content-button {
	h1, p {
			color: $button-color;
	}
}
.hero__content-white {
	h1, p {
			color: #FFF;
	}
}
.hero__content-green {
	h1, p {
		color: $brand-green;	
	}
}
.hero__content-purple {
	h1, p {
		color: $brand-purple;	
	}
}
.hero__content-light {
	h1, p {
		color: $body-text-lt;	
	}
}
.hero__content-dark {
	h1, p {
		color: $body-text-dk;		
	}
}